/.Xil/
/readout.cache/
/readout.hw/
/readout.ip_user_files/
/readout.runs/
/readout.sim/
/sim/work/
/readout.srcs/
/.idea/
/SCA_Control.cache/
/SCA_Control.hw/
/SCA_Control.ip_user_files/
/SCA_Control.runs/

